@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.974 0.017 266);
  --foreground: oklch(0.26 0.019 284.2);

  --card: oklch(1 0 0);
  --card-foreground: oklch(0.26 0.019 284.2);

  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.26 0.019 284.2);

  --primary: oklch(0.603 0.169 290);
  --primary-foreground: oklch(1 0 0);
  --primary-glow: oklch(0.707 0.12 290);

  --secondary: oklch(0.965 0.01 270);
  --secondary-foreground: oklch(0.26 0.019 284.2);

  --muted: oklch(0.965 0.01 270);
  --muted-foreground: oklch(0.62 0.027 284);

  --accent: oklch(0.697 0.113 298.2);
  --accent-foreground: oklch(1 0 0);

  --destructive: oklch(0.634 0.082 25);
  --destructive-foreground: oklch(1 0 0);

  --border: oklch(0.93 0.01 270);
  --input: oklch(0.94 0.01 270);
  --ring: oklch(0.603 0.169 290);

  --radius: 0.75rem;

  --sidebar-background: oklch(0.97 0.01 270);
  --sidebar-foreground: oklch(0.32 0.02 270);
  --sidebar-primary: oklch(0.14 0.04 270);
  --sidebar-primary-foreground: oklch(0.98 0 0);
  --sidebar-accent: oklch(0.96 0.01 270);
  --sidebar-accent-foreground: oklch(0.14 0.04 270);
  --sidebar-border: oklch(0.9 0.01 270);
  --sidebar-ring: oklch(0.66 0.14 257);
}

.dark {
  --background: oklch(0.145 0.021 284.2);
  --foreground: oklch(0.97 0.01 270);

  --card: oklch(0.17 0.02 284.2);
  --card-foreground: oklch(0.97 0.01 270);

  --popover: oklch(0.17 0.02 284.2);
  --popover-foreground: oklch(0.97 0.01 270);

  --primary: oklch(0.603 0.169 290);
  --primary-foreground: oklch(1 0 0);
  --primary-glow: oklch(0.707 0.12 290);

  --secondary: oklch(0.2 0.02 284.2);
  --secondary-foreground: oklch(0.97 0.01 270);

  --muted: oklch(0.2 0.02 284.2);
  --muted-foreground: oklch(0.55 0.03 284);

  --accent: oklch(0.697 0.113 298.2);
  --accent-foreground: oklch(1 0 0);

  --destructive: oklch(0.48 0.12 25);
  --destructive-foreground: oklch(1 0 0);

  --border: oklch(0.22 0.02 284.2);
  --input: oklch(0.21 0.02 284.2);
  --ring: oklch(0.603 0.169 290);

  --sidebar-background: oklch(0.14 0.03 270);
  --sidebar-foreground: oklch(0.97 0.01 270);
  --sidebar-primary: oklch(0.48 0.14 264);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.18 0.02 270);
  --sidebar-accent-foreground: oklch(0.97 0.01 270);
  --sidebar-border: oklch(0.18 0.02 270);
  --sidebar-ring: oklch(0.66 0.14 257);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
